{% extends 'accounts/main.html' %}

{% block content %}
<h1> Welcome to your Dashboard</h1>
<table class="table table-hover" border="2">
    {% if current_matches %}
    <tr><th colspan="10" style="text-align:center;" > Current Match</th></tr>
    <tr>
        <th scope="col"> Match </th>
        <th scope="col"> Team1 Selected by</th>
        <th scope="col"> Team1 </th>
        <th scope="col"> Team2 </th>
        <th scope="col"> Team2 Selected by</th>
        <th scope="col"> Match Venue </th>
        <th scope="col"> Points Value </th>
        <th scope="col"> Match Status </th>
    <tr>
{% for current_match in current_matches %}
    <tr>
    <td>{{current_match.description}}</td>
    <td>{{current_match.match_sel1}}</td>
    <td><img src="{{current_match.team1.logo_url}}" class="rounded-circle border border-5" alt="{{current_match.team1.description}}"> {{current_match.team1}}</td>
    <td><img src="{{current_match.team2.logo_url}}" class="rounded-circle border border-5" alt="{{current_match.team2.description}}"> {{current_match.team2}}</td>
    <td>{{current_match.match_sel2}}</td>
    <td>{{current_match.venue}}</td>
    <td>{{current_match.match_points}}</td>
    {% if current_match.result == 'IP' %}
       <td> <div class="d-flex align-items-center">In Progress &nbsp;
                <div class="spinner-grow text-success" role="status"></div>
            </div>
       </td>
    {% elif current_match.result == 'DLD' %}
       <td> <div class="d-flex align-items-center">Delayed &nbsp;
           <div class="spinner-grow text-danger" role="status"></div>
        </div>
       </td>

    {% else %}
        <td>{{current_match.result}}</td>
    {% endif %}
    </tr>
{% endfor %}
 {% endif %}
</table>
<table class="table table-hover" border="2">
    {% if upcoming_matches %}
    <tr><th colspan="10" style="text-align:center;" > Upcoming Matches</th></tr>
    <tr>
        <th scope="col"> Match </th>
        <th scope="col"> Team1 Selected by </th>
        <th scope="col"> Match team1 </th>
        <th scope="col"> Match team2 </th>
        <th scope="col"> Team2 Selected by</th>
        <th scope="col"> Match venue </th>
        <th scope="col"> Points Value </th>
        <th scope="col"> Starts in: </th>
    <tr>

    {% for next_match in upcoming_matches %}
    <script>
        // Set the date we're counting down to
        var countDownDate{{ forloop.counter }} = new Date({{ next_match.next_match_timer }}).getTime();

        // Update the count down every 1 second
        var x{{ forloop.counter }} = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance{{ forloop.counter }} = countDownDate{{ forloop.counter }} - now;

            // Time calculations for days, hours, minutes and seconds
            var days{{ forloop.counter }} = Math.floor(distance{{ forloop.counter }} / (1000 * 60 * 60 * 24));
            var hours{{ forloop.counter }} = Math.floor((distance{{ forloop.counter }} % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes{{ forloop.counter }} = Math.floor((distance{{ forloop.counter }} % (1000 * 60 * 60)) / (1000 * 60));
            var seconds{{ forloop.counter }} = Math.floor((distance{{ forloop.counter }} % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("timer{{ forloop.counter }}").innerHTML = days{{ forloop.counter }} + "d " + hours{{ forloop.counter }} + "h "
            + minutes{{ forloop.counter }} + "m " + seconds{{ forloop.counter }} + "s ";

            // If the count down is over, write some text
            if (distance{{ forloop.counter }} < 0) {
                clearInterval(x{{ forloop.counter }});
                document.getElementById("timer{{ forloop.counter }}").innerHTML = "Live!";
            }
        }, 1000);
</script>


    <tr>
        <td>{{next_match.description}}</td>
        <td>{{next_match.match_sel1}}</td>
        <td><img src="{{next_match.team1.logo_url}}" class="rounded-circle border border-5" alt="{{next_match.team1.description}}"> {{next_match.team1}}</td>
        <td><img src="{{next_match.team2.logo_url}}" class="rounded-circle border border-5" alt="{{next_match.team2.description}}"> {{next_match.team2}}</td>
        <td>{{next_match.match_sel2}}</td>
        <td>{{next_match.venue}}</td>
        <td>{{next_match.match_points}}</td>
        <td><p id="timer{{ forloop.counter }}" style="color:red;"></p></td>
    </tr>

    {% endfor %}
{% endif %}

</table>
<table class="table table-hover" border="2">
    {% if last_match is not None %}
    <tr><th colspan="10" style="text-align:center;" > Last Match</th></tr>
    <tr>
        <th scope="col"> Match </th>
        <th scope="col"> Team1 Selected by </th>
        <th scope="col"> Match team1 </th>
        <th scope="col"> Match team2 </th>
        <th scope="col"> Team2 Selected by</th>
        <th scope="col"> Match venue </th>
        <th scope="col"> Points Value </th>
        <th scope="col"> Match Status </th>
    <tr>
    <tr>
        <td>{{last_match.description}}</td>
        <td>{{last_match_sel1}}</td>
        <td><img src="{{last_match.team1.logo_url}}" class="rounded-circle border border-5" alt="{{last_match.team1.description}}"> {{last_match.team1}}</td>
        <td><img src="{{last_match.team2.logo_url}}" class="rounded-circle border border-5" alt="{{last_match.team2.description}}"> {{last_match.team2}}</td>
        <td>{{last_match_sel2}}</td>
        <td>{{last_match.venue}}</td>
        <td>{{last_match.match_points}}</td>
        {% if  last_match.result == 'team1'%}
            <td><img src="{{last_match.team1.logo_url}}" class="rounded-circle border border-5" alt="{{last_match.team1.description}}"> {{last_match.team1.description}} Won</td>
        {% elif  last_match.result == 'team2'%}
            <td><img src="{{last_match.team2.logo_url}}" class="rounded-circle border border-5" alt="{{last_match.team2.description}}"> {{last_match.team2.description}} Won</td>
        {% else %}
            <td>{{last_match.result}}</td>
        {% endif %}
    </tr>
    {% endif %}
</table>

{% endblock %}