{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img width="100" height="100" src="{% static 'images/logo.PNG' %}"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/" onclick="showLoaderOnClick('/dashboard/')">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/schedule" onclick="showLoaderOnClick('/schedule/')">BET</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard" onclick="showLoaderOnClick('/leaderboard/')">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/results" onclick="showLoaderOnClick('/results/')">Results</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Other's Bet
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {%for i in all_users%}
                <li><a class="dropdown-item" href="/schedule/{{i.username}}" onclick="showLoaderOnClick('/schedule/{{i.username}}')">{{i.username}}</a></li>
              {% endfor%}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rules">Rules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
        <form class="d-flex">
            <div class="d-grid gap-2 d-md-block">
            <span class="form-control me-2 text-center">Power-Ups </span>

              {%if hidden_count is not None%}
                <button type="button" data-button-name="hidden" id="draggableButton" draggable="true" class="btn btn-warning" onclick="window.location.href='/schedule'"  {{ hidden_disabled }}>
              Hidden <span class="badge bg-secondary">{{ hidden_count }}</span>
                </button>
              {% endif %}
              {%if no_negative_count is not None%}
                <button type="button" data-button-name="no_negative" id="draggableButton" draggable="true" class="btn btn-warning" onclick="window.location.href='/schedule'" {{ no_neg_disabled }}>
              No Negative <span class="badge bg-secondary">{{ no_negative_count }}</span>
                </button>
              {% endif %}
              {%if fake_count is not None%}
                <button type="button" data-button-name="fake" id="draggableButton" draggable="true" class="btn btn-warning" onclick="window.location.href='/schedule'" {{ fake_disabled }}>
              Fake <span class="badge bg-secondary">{{ fake_count }}</span>
                </button>
              {% endif %}

            </div>
        </form>
      <form class="d-flex">
        <div class="d-grid gap-2 d-md-block">
        <span class="form-control me-2 text-center">Welcome {{request.user}} </span>
        {%if no_bets is not None%}
          <button type="button" class="btn btn-primary" onclick="showLoaderOnClick('/schedule')">
          No Bets <span class="badge bg-secondary">{{no_bets}}</span>
          </button>
        {% endif %}
        <button type="button" class="btn btn-outline-danger" onclick="window.location.href='/logout'">LogOut</button>
        </div>
      </form>
    </div>
  </div>
</nav>