{% extends 'accounts/main.html' %}

{% block content %}
<form action="/update/" method="POST">
    {% csrf_token %}

{% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="myAlert">
    {% else %}
        <div class="alert alert-info alert-dismissible fade show" role="alert" id="myAlert">
    {% endif %}
             <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
{% endfor %}

<h1> Upcoming Matches selection for user: {{uname}}</h1>
<table class="table" border="2">
    <tr>
        <th scope="col"> Date Time (GMT) </th>
        <th scope="col"> Description </th>
        <th scope="col"> Venue </th>
        <th scope="col"> Match team1 </th>
        <th scope="col"> No Bet? </th>
        <th scope="col"> Match team2 </th>
        <th scope="col"> Power Ups </th>
        <th scope="col"> Points value </th>

    <tr>

    {% for m in matches_list %}
    <tr class="droppable-row" data-row-name="{{ m.id }}">
    <td>{{m.datetime}}</td>
    <td>{{m.description}}</td>
    <td>{{m.venue}}</td>
    <td><input type="radio" class="btn-check" name="options_{{m.id}}" value="team1" id="team_1_{{m.id}}" autocomplete="off" onchange="document.getElementById('mySaveBtn').disabled = false;" {{m.team1_checked}} {{disabled}} >
<label class="btn btn-outline-success" for="team_1_{{m.id}}">{{m.team1}}</label></td>
    <td><input type="radio" class="btn-check" name="options_{{m.id}}" value="None" id="team_none_{{m.id}}" autocomplete="off" onchange="document.getElementById('mySaveBtn').disabled = false;" {{m.none_checked}} {{disabled}}>
<label class="btn btn-outline-secondary" for="team_none_{{m.id}}">No Bet</label></td>
    <td><input type="radio" class="btn-check" name="options_{{m.id}}" value="team2" id="team_2_{{m.id}}" autocomplete="off" onchange="document.getElementById('mySaveBtn').disabled = false;" {{m.team2_checked}} {{disabled}} >
<label class="btn btn-outline-success" for="team_2_{{m.id}}">{{m.team2}}</label></td>
    <td>{{m.powerups}}</td>
    <td>{{m.match_points}}</td>
    </tr>
    {% endfor %}

    <tr><td colspan="10" style="text-align:center;">
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" class="btn btn-outline-primary" value="Save" disabled  id="mySaveBtn"> </div>
    </td></tr>

</table>
<div class="modal fade" id="powerupmodal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Applying PowerUp</h5>
        </div>
      <div class="modal-body">
          <h5>You are applying powerups and this action is irreversible </h5>
          <p id="powerup-modal-text">This will apply X power on Y match. Are you sure?</p>
          <p id="powerup-modal-matchid" hidden></p>
          <hr>
          <p>Refer to <a href="/rules" title="Rules page">Rules</a> page for more details.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id="powerup_save" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




</form>
<script>
$(document).ready(function(){
  $(".btn-check").click(function(){
    $("#myAlert").alert("close");
  });
});
</script>

{% endblock %}